Repository Harker-Hackers/harker-hackers.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: about, applications, bios, cover page, projects

.github/labeler.yml:

about: about.md
applications: applications.md
bios: members.md
cover page: _coverpage.md
projects: projects.md

Update members
  members.md
Labels: bios

Update projects
  projects.md
Labels: projects

Update projects
  projects.md
Labels: projects

Add subscription site to sidebar
  _sidebar.md
Labels: none

Added subscription link to sidebar
  _sidebar.md
Labels: none

Test commit
  members.md
Labels: bios

Update sidebar
  _sidebar.md
Labels: none

Sidebar tests in hopes that GH pages will deploy
  _sidebar.md
Labels: none

Indentation errors
  projects.md
Labels: projects

Change motto
  _coverpage.md
  about.md
  index.html
Labels: about, cover page

Fix sidebar
  _sidebar.md
Labels: none

Update projects
  projects.md
Labels: projects

Update projects
  projects.md
Labels: projects

Update _sidebar.md
  _sidebar.md
Labels: none

update motto
  _coverpage.md
Labels: cover page

added in nolan + contact page
  about.md
  contact.md
  members.md
Labels: about, bios

spelling change
  members.md
Labels: bios

a
  about.md
  contact.md
  projects.md
Labels: about, projects
